@model Blog.Entity.Helpers.FilteredList<Blog.Entity.Blog.Posts>

@{ string Culture = ViewBag.Culture;}

@if (Model.data.Count() < 1)
{
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 text-center">
        <h5 class="font-segoe">@Lang.Global.NotFoundAuthor</h5>
    </div>
</div>}

<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <div class="post-preview">
                @*<img src=""/>*@
                <a>
                    <h2 class="post-title text-center">@Model.data.FirstOrDefault().Author</h2>
                    <h3 class="author-subtitle">@Model.data.FirstOrDefault().Bio</h3>
                </a>
            </div>
        </div>
    </div>
</div>
<hr class="my-4" />
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            @foreach (var item in Model.data)
            {
                if (Culture == "tr")
                {
<div class="post-preview">
    <a href="/post/@Blog.Web.Helpers.CustomTagHelpers.FriendlyURLTitle(item.TitleTUR)/@item.ID">
        <h2 class="post-title">@item.TitleTUR</h2>
        <h3 class="post-subtitle">@item.SummaryTUR</h3>
    </a>
    <p class="post-meta">
        <a href="#!">
            @item.Author @if (item.ContributorID != null)
            {
@Lang.Global.And @item.ContributingAuthor}
        </a>
        tarafından
        @item.Date.ToString("dd MMMM, yyyy") tarihinde yazıldı.
    </p>
</div>
                    <hr class="my-4" /> }
                else
                {
<div class="post-preview">
    <a href="/post/@Blog.Web.Helpers.CustomTagHelpers.FriendlyURLTitle(item.TitleENG)/@item.ID">
        <h2 class="post-title">@item.TitleENG</h2>
        <h3 class="post-subtitle">@item.SummaryENG</h3>
    </a>
    <p class="post-meta">
        Posted by
        <a href="#!">
            @item.Author @if (item.ContributorID != null)
            {
@Lang.Global.And @item.ContributingAuthor}
        </a>
        on @item.Date.ToString("MMMM dd, yyyy")
    </p>
</div>
                    <hr class="my-4" />}
            }
            @Html.Partial("/Views/Helper/Table_Pager.cshtml", Model.filter.pager)

        </div>
    </div>
</div>
