@model Blog.Entity.User.Users

@{
    ViewBag.Title = "Yönetici düzenle";
}

<section id="main-content" class="column column-offset-15">
    <div class="row grid-responsive">
        <div class="column ">
            <div class="card">
                <div class="card-title">
                    <h3>Yönetici #@Model.ID</h3>
                </div>
                <div class="card-block">
                    <form action="/user" method="post" enctype="multipart/form-data">
                        @Html.HiddenFor(model => model.ID)
                        <fieldset>
                            <label for="Name">İsim</label>
                            @Html.TextBoxFor(model => model.Name)
                            <label for="Mail">Mail</label>
                            @Html.TextBoxFor(model => model.Mail)
                            <label for="Password">Şifre</label>
                            @Html.PasswordFor(model => model.Password, new { value = Model.Password })
                        </fieldset>
                        <fieldset>
                            <label for="Bio">Bio (opsiyonel)</label>
                            @Html.TextAreaFor(model => model.Bio, new { @Style = "max-width: 600px; !important" })
                        </fieldset>
                        <fieldset>
                            <label for="Picture">Fotoğraf (opsiyonel)</label>
                            <input name="fileinput" type="file" id="fileinput" />
                        </fieldset>
                        @if (Model.Picture != null)
                        {
                            <fieldset id="picture">
                                <img src="~/images/authors/@Model.Picture" width="300" height="280" />
                            </fieldset>
                            <button type="button" id="delPicture" onclick="Post.DeletePicture(@Model.ID)">Fotoğrafı Kaldır</button>
                        }
                        <input class="button-primary" type="submit" value="Kaydet">
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
@section customScripts{
    <link href="~/Content/plugins/jqueryui/css/jquery-ui.css" rel="stylesheet">
    <script src="~/Content/js/Listing.js"></script>
}

