@model Blog.Entity.Blog.Posts

@{
    ViewBag.Title = "Yazı düzenle";
    var CategoryList = (List<Blog.Entity.Blog.Categories>)ViewBag.Categories;
    var selected = (List<int>)Model.Categories;
}

<section id="main-content" class="column column-offset-15">
    <div class="row grid-responsive">
        <div class="column ">
            <div class="card">
                <div class="card-title">
                    @if (Model.ID == 0)
                    {
                        <h3>Yeni Yazı</h3>
                    }
                    else
                    {
                        <h3>@Model.TitleTUR</h3>
                    }
                </div>
                <div class="card-block">
                    <form action="/post" method="post" enctype="multipart/form-data">
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(model => model.ID)
                        @Html.HiddenFor(model => model.UserID)
                        <div style="display: block">
                            <fieldset style="width: 350px; float:left; margin-right:35px">
                                <label for="Title">Başlık (Türkçe)</label>
                                @Html.TextBoxFor(model => model.TitleTUR)
                            </fieldset>
                            <fieldset style="width: 350px;">
                                <label for="Title">Başlık (İngilizce)</label>
                                @Html.TextBoxFor(model => model.TitleENG)
                            </fieldset>
                        </div>
                        <div style="display:block;">
                            <fieldset style="width: 350px; float: left; margin-right: 35px ">
                                <label for="Title">Özet (Türkçe)(opsiyonel)</label>
                                @Html.TextBoxFor(model => model.SummaryTUR)
                            </fieldset>
                            <fieldset style="width: 350px;">
                                <label for="Title">Özet (İngilizce)(opsiyonel)</label>
                                @Html.TextBoxFor(model => model.SummaryENG)
                            </fieldset>
                        </div>
                        <div style="display: block;">
                            <fieldset style="width: 350px; float: left; margin-right: 35px ">
                                <label for="Date">Tarih</label>
                                @if (1900 < Model.Date.Year)
                                {
                                    @Html.TextBoxFor(model => model.Date, new { @Value = Model.Date.ToString("dd/MM/yyyy"), @Style = "width: 350px;" })
                                }
                                else
                                {
                                    @Html.TextBoxFor(model => model.Date, new { @Value = DateTime.Now.ToString("dd/MM/yyyy"), @Style = "width: 350px;" })
                                }
                            </fieldset>
                            <fieldset style="width: 350px; height: 90px;">
                                <label for="Categories">Kategoriler</label>
                                @Html.ListBox("drop", new MultiSelectList(CategoryList, "ID", "Name", Model.Categories), new { @class = "form-control", @data_placeholder = "Kategori seçiniz" })
                            </fieldset>
                        </div>                     
                        <fieldset style="max-width: 735px;">
                            <label for="Body">İçerik (Türkçe)</label>
                            @Html.TextAreaFor(model => model.BodyTUR)
                        </fieldset>
                        <fieldset style="max-width: 735px;">
                            <label for="Body">İçerik (İngilizce)</label>
                            @Html.TextAreaFor(model => model.BodyENG)
                        </fieldset>
                        <fieldset>
                            <label for="Title">Banner Fotoğrafı (opsiyonel)</label>
                            <input name="fileinput" type="file" id="fileinput" />
                        </fieldset>
                        @if (Model.Banner != null)
                        {
                            <fieldset id="banner">
                                <img src="~/images/posts/@Model.Banner" width="735" height="300" />
                            </fieldset>
                            <button type="button" id="delBanner" onclick="Post.DeleteBanner(@Model.ID)">Fotoğrafı Kaldır</button>
                        }
                        <input class="button-primary" type="submit" value="Kaydet">
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

@section customScripts{
    <link href="~/Content/plugins/chosen/css/chosen.min.css" rel="stylesheet" />
    <script src="~/Content/plugins/ckeditor/ckeditor.js"></script>
    <script src="~/Content/plugins/chosen/js/chosen.jquery.min.js"></script>
    <link href="~/Content/plugins/jqueryui/css/jquery-ui.css" rel="stylesheet">
    <link href="~/Content/plugins/datetimepicker/css/jquery.datetimepicker.min.css" rel="stylesheet">
    <script src="~/Content/plugins/datetimepicker/js/jquery.datetimepicker.full.min.js"></script>
    <script src="~/Content/plugins/datetimepicker/js/datepicker-tr.js"></script>
    <script src="~/Content/js/Listing.js"></script>
    <script>
        CKEDITOR.replace('BodyTUR', {
            language: 'tr'
        });

        CKEDITOR.replace('BodyENG', {
            language: 'tr'
        });

        $("#drop").chosen();
        $("#Date").datepicker({
            changeYear: true,
            changeMonth: true,
            yearRange: "2019:2030",
        });

    </script>
}